@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'TTM';
        src: url('../../public/fonts/TTHovesProTrial-Md.eot');
        src: url('../../public/fonts/TTHovesProTrial-Md.eot?#iefix') format('embedded-opentype'),
            url('../../public/fonts/TTHovesProTrial-Md.woff2') format('woff2'),
            url('../../public/fonts/TTHovesProTrial-Md.woff') format('woff'),
            url('../../public/fonts/TTHovesProTrial-Md.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'TTR';
        src: url('../../public/fonts/TTHovesProTrial-Rg.eot');
        src: url('../../public/fonts/TTHovesProTrial-Rg.eot?#iefix') format('embedded-opentype'),
            url('../../public/fonts/TTHovesProTrial-Rg.woff2') format('woff2'),
            url('../../public/fonts/TTHovesProTrial-Rg.woff') format('woff'),
            url('../../public/fonts/TTHovesProTrial-Rg.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'TTB';
        src: url('../../public/fonts/TTHovesProTrial-Bd.eot');
        src: url('../../public/fonts/TTHovesProTrial-Bd.eot?#iefix') format('embedded-opentype'),
            url('../../public/fonts/TTHovesProTrial-Bd.woff2') format('woff2'),
            url('../../public/fonts/TTHovesProTrial-Bd.woff') format('woff'),
            url('../../public/fonts/TTHovesProTrial-Bd.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'TTL';
        src: url('../../public/fonts/TTHovesProTrial-Lt.eot');
        src: url('../../public/fonts/TTHovesProTrial-Lt.eot?#iefix') format('embedded-opentype'),
            url('../../public/fonts/TTHovesProTrial-Lt.woff2') format('woff2'),
            url('../../public/fonts/TTHovesProTrial-Lt.woff') format('woff'),
            url('../../public/fonts/TTHovesProTrial-Lt.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
}

@layer components {
    html, body {
        scrollbar-gutter: stable;
    }

    body {
        @apply min-w-[320px];
    }

    section {
        @apply max-w-[1440px] mx-auto;
        overflow: hidden;
    }

    .lock-block {
        overflow: hidden;
        height: 100vh;
    }

    .padding-content {
        @apply max-tablet:px-[20px];
        @media (min-width: 768px) {
            padding: 0 clamp(60px, 9.5vw, 135px);
        }
    }

    .burger-content {
        @apply max-tablet:py-[100px] 
            max-tablet:px-[30px] 
            max-tablet:h-dvh
            max-tablet:absolute 
            max-tablet:top-[-150%] 
            max-tablet:left-0 
            max-tablet:bg-white 
            max-tablet:w-screen
            z-50
            min-w-[320px]
            overflow-x-hidden;
    }
    .burger-content_active {
        @apply max-tablet:top-0;
    }

    .burger-button_active {
        span:nth-child(1) {
            position: relative;
            top: 50%;
            transform: rotateZ(45deg) translateY(-50%);
        }
        span:nth-child(2) {
            width: 0;
        }
        span:nth-child(3) {
            position: relative;
            top: -50%;
            transform: rotateZ(-45deg) translateY(50%);
        }
    }

    .burger-menu-line {
        @apply bg-greyText w-full h-[2px] transition-all;
    }


    .intro__title {
        @apply flex flex-col justify-between text-title-intro/[100%] z-20 font-TTB text-greyText max-tablet:flex-row max-tablet:mb-[10px] max-tablet:absolute;
    }

    .custom-button {
        @apply h-[71px] w-[222px] max-laptop:h-[60px] max-laptop:w-[190px] tablet:bg-white font-TTM text-[12px] text-greyText flex justify-center tracking-[0.2em] items-center max-tablet:border-white border-[1px] border-greyText;
        @apply tablet:hover:bg-greyText tablet:hover:text-white hover:after:bg-arrow-right-white transition-colors active:after:translate-x-[10px] overflow-hidden;
        @apply max-tablet:active:text-greyLight max-tablet:active:border-greyLight;
        &::after {
            @apply content-[""] bg-arrow-right inline-block h-[24px] w-[24px] bg-no-repeat bg-center ml-[11px] max-tablet:hidden transition-transform; 
        }
    }

    .custom-button-black {
        @apply h-[71px] w-[222px] bg-greyText font-TTM text-[12px] max-big-mobile:w-full text-white flex justify-center tracking-[0.2em] items-center border-greyText max-laptop:h-[60px] border-[1px] transition-colors;
        @apply hover:bg-white hover:border-greyText hover:text-greyText hover:after:bg-arrow-right; 
        @apply max-laptop:active:text-greyLight max-laptop:active:border-greyLight max-laptop:active:bg-white active:after:translate-x-[10px];
        &::after {
            @apply content-[""] bg-arrow-right-white inline-block h-[24px] w-[24px] bg-no-repeat bg-center ml-[11px] max-tablet:hidden transition-transform; 
        }
    }

    .intro__anchor {
        @apply absolute left-0 bottom-0; 
        @apply max-tablet:bottom-[20px] max-tablet:left-[50%] max-tablet:translate-x-[-50%] max-tablet:border-[2px] max-tablet:text-white
            max-tablet:h-[60px] max-tablet:w-[87.5%];
    }

    .custom-title {
        @apply text-title-intro/[1] text-greyLight font-TTL mb-[60px] max-tablet:text-center max-tablet:mb-[30px];
    }

    .custom-input {
        @apply py-[11px] px-[21px] bg-whiteBg;

        &::placeholder {
            @apply text-[14px];
        }
    }

    .project__block-img {
        @apply flex gap-[30px] max-laptop:flex-col max-big-mobile:gap-[10px];
    }

    .project__item-img {
        @apply relative overflow-hidden cursor-pointer;
    }

    .project__item-wrapper-text {
        @apply flex flex-col px-[10%] justify-center absolute transition-left top-0 left-[-200%] bg-greyText/80 text-white w-full h-full group-hover:left-0;
    }

    .project__item-name {
        @apply font-TTB mb-[8px] max-w-max text-project-name-desktop/[1] max-laptop:text-project-name-laptop uppercase break-words;

    }

    .project__item-button {
        @apply font-TTR flex items-center text-[14px]/[1] uppercase text-left after:content-[''] after:ml-[5px] after:h-[24px] after:w-[24px] after:bg-arrow-right-white after:inline-block after:bg-no-repeat;
    }
    

    .footer-contact {
        @apply text-[14px] before:content-[''] before:inline-block before:h-[16px] before:w-[16px] [&:nth-child(1)]:before:bg-address [&:nth-child(2)]:before:bg-tel [&:nth-child(3)]:before:bg-email;
        @apply before:bg-no-repeat before:mr-[13px] before:bg-center flex;
    }

    .footer-title {
        @apply mb-[25px] font-TTB max-laptop:mb-[15px]
    }
}