@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'TTM';
        src: url('../../public/fonts/TTHovesProTrial-Md.eot');
        src: url('../../public/fonts/TTHovesProTrial-Md.eot?#iefix') format('embedded-opentype'),
            url('../../public/fonts/TTHovesProTrial-Md.woff2') format('woff2'),
            url('../../public/fonts/TTHovesProTrial-Md.woff') format('woff'),
            url('../../public/fonts/TTHovesProTrial-Md.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'TTR';
        src: url('../../public/fonts/TTHovesProTrial-Rg.eot');
        src: url('../../public/fonts/TTHovesProTrial-Rg.eot?#iefix') format('embedded-opentype'),
            url('../../public/fonts/TTHovesProTrial-Rg.woff2') format('woff2'),
            url('../../public/fonts/TTHovesProTrial-Rg.woff') format('woff'),
            url('../../public/fonts/TTHovesProTrial-Rg.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'TTB';
        src: url('../../public/fonts/TTHovesProTrial-Bd.eot');
        src: url('../../public/fonts/TTHovesProTrial-Bd.eot?#iefix') format('embedded-opentype'),
            url('../../public/fonts/TTHovesProTrial-Bd.woff2') format('woff2'),
            url('../../public/fonts/TTHovesProTrial-Bd.woff') format('woff'),
            url('../../public/fonts/TTHovesProTrial-Bd.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'TTL';
        src: url('../../public/fonts/TTHovesProTrial-Lt.eot');
        src: url('../../public/fonts/TTHovesProTrial-Lt.eot?#iefix') format('embedded-opentype'),
            url('../../public/fonts/TTHovesProTrial-Lt.woff2') format('woff2'),
            url('../../public/fonts/TTHovesProTrial-Lt.woff') format('woff'),
            url('../../public/fonts/TTHovesProTrial-Lt.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
}

@layer components {
    body {
        @apply min-w-[320px];
    }

    section {
        @apply max-w-[1440px] mx-auto;
        overflow: hidden;
    }

    .padding-content {
        padding-left: clamp(20px, 9.5vw, 135px);
        padding-right: clamp(20px, 9.5vw, 135px);
        @apply min-[0px]:max-tablet:px-[20px];
    }

    .burger-content {
        @apply min-[0px]:max-tablet:py-[100px] 
            min-[0px]:max-tablet:px-[30px] 
            min-[0px]:max-tablet:h-dvh
            min-[0px]:max-tablet:absolute 
            min-[0px]:max-tablet:top-[-150%] 
            min-[0px]:max-tablet:left-0 
            min-[0px]:max-tablet:bg-white 
            min-[0px]:max-tablet:w-screen;
    }
    .burger-content_active {
        @apply min-[0px]:max-tablet:top-0;
    }

    .burger-button_active {
        span:nth-child(1) {
            position: relative;
            top: 50%;
            transform: rotateZ(45deg) translateY(-50%);
        }
        span:nth-child(2) {
            width: 0;
        }
        span:nth-child(3) {
            position: relative;
            top: -50%;
            transform: rotateZ(-45deg) translateY(50%);
        }
    }

    .burger-menu-line {
        @apply bg-greyText w-full h-[2px] transition-all;
    }


    .intro__title {
        @apply flex flex-col justify-between text-title-intro/[100%] z-20 font-TTB text-greyText min-[0px]:max-tablet:flex-row min-[0px]:max-tablet:mb-[10px] min-[0px]:max-tablet:absolute;
    }

    .custom-button {
        @apply h-[71px] w-[222px] tablet:bg-white font-TTM text-[12px] text-greyText flex justify-center tracking-[0.2em] items-center border-white;
        
        &::after {
            @apply content-[""] bg-arrow-right inline-block h-[24px] w-[24px] bg-no-repeat bg-center ml-[11px] min-[0px]:max-tablet:hidden; 
        }
    }

    .custom-button-black {
        @apply h-[71px] w-[222px] bg-greyText font-TTM text-[12px] text-white flex justify-center tracking-[0.2em] items-center border-white max-laptop:h-[60px];
        
        &::after {
            @apply content-[""] bg-arrow-right-white inline-block h-[24px] w-[24px] bg-no-repeat bg-center ml-[11px] min-[0px]:max-tablet:hidden; 
        }
    }

    .intro__anchor {
        @apply absolute left-0 bottom-0; 
        @apply min-[0px]:max-tablet:bottom-[20px] min-[0px]:max-tablet:left-[50%] min-[0px]:max-tablet:translate-x-[-50%] min-[0px]:max-tablet:border-[2px] min-[0px]:max-tablet:text-white
            max-tablet:h-[60px] max-tablet:w-[90%];
    }

    .custom-title {
        @apply text-title-intro/[1] text-greyLight font-TTL mb-[60px] max-tablet:text-center;
    }

    .custom-input {
        @apply py-[11px] px-[21px] bg-whiteBg;

        &::placeholder {
            @apply text-[14px];
        }
    }

    .footer-contact {
        @apply text-[14px] before:content-[''] before:inline-block before:h-[16px] before:w-[16px] [&:nth-child(1)]:before:bg-address [&:nth-child(2)]:before:bg-tel [&:nth-child(3)]:before:bg-email;
        @apply before:bg-no-repeat before:mr-[13px] before:bg-center flex items-center;
    }
}